{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
     <title>CITEC Product Launching Event</title>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=Edge">
     <meta name="description" content="">
     <meta name="keywords" content="">
     <meta name="team" content="">
     <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
     <link rel="icon" href="{% static 'countdown_website/images/citec_logo.ico' %}">
     <link rel="stylesheet" href="{% static 'countdown_website/css/bootstrap.min.css' %}">
     <link rel="stylesheet" href="{% static 'countdown_website/css/vegas.min.css' %}">
     <link rel="stylesheet" href="{% static 'countdown_website/css/font-awesome.min.css' %}">
     <link rel="stylesheet" href="{% static 'countdown_website/css/templatemo-style.css' %}">
     <link rel="stylesheet" href="{% static 'countdown_website/css/styles.css' %}">
</head>
<body>
     <section class="preloader">
          <div class="spinner">
               <span class="spinner-rotate"></span>
          </div>
     </section>

    <div class="menu-bg"></div>
    <div class="menu-burger">☰</div>
    <div class="menu-items">
       <div class="container" style="margin-top:50px;">
         <div class="row">
           <div class="col-md-offset-2 col-md-4 col-sm-6">
            <h1>More Info</h1>
             <ul class="menu">
                <li><a href="https://www.citecinternational.com/" target="_blank">Home</a></li>
                <li><a href="https://www.citecinternational.com/enquiry.php" target="_blank">Contact Us</a></li>
            </ul>
           </div>

           <div class="col-md-4 col-sm-6">
             <address>
               <h1>Event Location</h1>
               <p>Nexus Bangar South</p>
               <div class="google-map">
                  <iframe src="https://maps.google.com/maps?q=nexus%20bangsar%20south&t=&z=15&ie=UTF8&iwloc=&output=embed" allowfullscreen></iframe>
               </div>
             </address>
             <address>
               <h1>Accomodation Location</h1>
               <p>VE Hotel & Residence</p>
               <div class="google-map">
                  <iframe src="https://maps.google.com/maps?q=ve%20hotel%20&%20residence&t=&z=15&ie=UTF8&iwloc=&output=embed" allowfullscreen></iframe>
               </div>
             </address>
           </div> 

           <div class="col-md-12 col-sm-12">
             <ul class="social-icon">
              <li class="line"></li>
               <li><a href="https://www.facebook.com/citec.international/" class="fa fa-facebook"></a></li>
               <li><a href="https://www.linkedin.com/company/citec-international/mycompany/" class="fa fa-linkedin"></a></li>
             </ul>
           </div>
         </div>
       </div>
    </div>

     <!-- HOME -->
     <section id="home">
        <div class="overlay"></div>
          <div class="container">
               <div class="row">
                    <div class="col-md-12 col-sm-12">
                         <div class="home-info">
                              <h1 id="h1-header">CITEC Malaysia are excited to welcome you!</h1>
                              <h1>See you soon!</h1>
                              <!-- You can change the date time in init.js file -->
                              <ul class="countdown">
                                   <li>
                                        <span class="days">14</span>
                                        <h3>Days</h3>
                                   </li>
                                   <li>
                                        <span class="hours">10</span>
                                        <h3>hours</h3>
                                   </li>
                                   <li>
                                        <span class="minutes">15</span>
                                        <h3>minutes</h3>
                                   </li>
                                   <li>
                                        <span class="seconds">34</span>
                                        <h3>seconds</h3>
                                   </li>     
                              </ul>
                              <div class="div-imagehomapge">
                                   <img class="image-homepage" src="{% static 'countdown_website/images/invitation.png' %}" alt="invitation">
                                   <img class="image-homepage" src="{% static 'countdown_website/images/agenda.png' %}" alt="invitation">
                              </div>
                              <h2>Sign up your email for any updates from us.</h2>
                              <div class="subscribe-form">
                                <form action="/recordemail" method="POST">
                                   {% csrf_token %}
                                   <input type="text" name="reg_name" class="form-control" placeholder="Enter your name">
                                   <br>
                                   <input type="email" name="email" class="form-control" placeholder="Enter your email">
                                   <br>
                                   <input type="text" name="reg_com" class="form-control" placeholder="Enter your company">
                                   <br>
                                   <button type="submit" class="form-submit">Send</button>
                                </form>
                              </div>
                         </div>
                    </div>

               </div>
          </div>
     </section>

     <!-- SCRIPTS -->
     <script src="{% static 'countdown_website/js/jquery.js' %}"></script>
     <script src="{% static 'countdown_website/js/bootstrap.min.js' %}"></script>
     <script src="{% static 'countdown_website/js/vegas.min.js' %}"></script>
     <script src="{% static 'countdown_website/js/countdown.js' %}"></script>
     <script src="{% static 'countdown_website/js/init.js' %}"></script>
     <script src="{% static 'countdown_website/js/custom.js' %}"></script>
     
</body>
</html>